body {
    background-color: $background-color;
    font-family: $font-family;
    color: $text-color-list-item;
}
a {
    text-decoration: none;
}
nav {
    padding: 10px;
    height: 50px;
}
footer {
    padding: 25px;
    height: 25px;
}
