body {
    background-color: $background-color;
    font-family: $font-family;
    color: $text-color-list-item;
    margin: 0;
}
a {
    text-decoration: none;
}
nav {
    font-family: "peach-sundress";
    padding-left: 30px;
    font-size: 1.2em;
    @media #{$is-mobile} {
        font-size: 3em;
    }
}
footer {
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    background-color: grey;
    margin-top: 45px;
    @media #{$is-mobile} {
        font-size: 2em;
    }
}
