.list-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    text-align: left;
    display: inline-block;
    background-color: $list-item-color;
    height: auto;
    width: 80%;
    color: $text-color-list-item;
    a:link{
        color: $text-color-list-item;
    }
    a:visited{
        color: $text-color-list-item;
    }
    a:hover{
        color: $text-color-list-item;
    }
    margin-bottom: 15px;
    padding: 25px;
    img {
        background-color: white;
    }
    .site-icon {
        float: left;
        display: inline;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .tag {
        padding: 3px;
        font-size: 13px;
        margin: 3px;
        background-color: grey;
        border: 1px solid black;
    }
    .user-icon {
        display: inline;
        width: 25px;
        height: 25px;
        margin-left: 7px;
        margin-right: 10px;
    }
    .score {
        font-weight: bold;
    }
    .user-details {
        float: right;
        a {
            bottom: 6px;
            position: relative;
        }
    }
    .post-details {
        float: left;
        span {
            top: 6px;
            position: relative;
        }
    }
    p {
        display: inline;
    }
}
.moderatorPost {
    background-color: $moderator-item-color;
}
