.list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;

}
.list-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;

    text-align: left;
    display: inline-block;
    background-color: $list-item-color;
    height: auto;
    width: 80%;
    color: $text-color-list-item;
    a:link{
        color: $text-color-list-item;
    }
    a:visited{
        color: $text-color-list-item;
    }
    a:hover{
        color: $text-color-list-item;
    }
    margin-bottom: 15px;
    padding: 25px;
    img {
        background-color: white;
    }
    .site-icon {
        display: inline;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .user-icon {
        display: inline;
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    .score {
        font-weight: bold;
    }
    .moderatorPost {
        background-color: $moderator-item-color;
    }
    p {
        display: inline;
    }
}
