$background-color: #6B7A8F;
$list-item-color: #57BC90;
$moderator-item-color: #DF744A;
$text-color-list-item: white;
$font-family: helvetica;

@import 'css_modules/body.scss';
@import 'css_modules/list.scss';
